**/logs
*.log
*.db
*.zip

server/node_modules/
server/*.exe
server/*.rar
server/*.db
server/.vscode/
server/log.txt
server/configs.js
viewer/node_modules/
viewer/.vscode
viewer/dist/
viewer/*.exe
viewrer/*.rar
viewer/*.zip
*.vscode
*.rar
*.exe
